>>>*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
>>>a {
    text-decoration: none;
}
>>>.headertop-article {
    width: 100%;
    min-width:1200px;
}
>>>.headertop-article:before{
    content: '';
    position: absolute;
    top: 84px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../image/top-a.png");
    background-repeat:no-repeat;
    height: 400px;
}
>>>.headertop-manage {
    position: static;
    width: 100%;
    height: 284px;
    min-width:1200px;
}
>>>.headertop-manage:before{
    content: '';
    position: absolute;
    top: 84px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../image/top-a.png");
    background-repeat:no-repeat;
    height: 200px;
}
>>>.site-header {
    position: fixed;
    width: 100%;
    min-width:1200px;
    left: 0;
    top: 0;
    padding: 20px 100px;
    transition: all .4s ease;
}

>>>.sticky{
    padding: 20px 100px;
    background: rgba(255,255,255,.95);
    box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    z-index: 100000;
}
>>>.logo{
    position: relative;
    font-size: 2em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
}
>>>.sticky .logo{
    position: relative;
    font-size: 2em;
    text-decoration: none;
    color: #464646;
    font-weight: 700;
    letter-spacing: 2px;
    transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
}
>>>.logo:hover{
    color: #FE9600;
}
>>>.sticky .mna{
    display: inline-flex;
    float: right;
    margin-right: 43%;
    margin-top: 14px;
    animation: sitetop 1s;
}
>>>header nav ul li {
    position: relative;
    list-style-type: none;
}

>>>.tag {
    display:none
}
>>>.sticky .tag{
    position: relative;
    display:inline;
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}
>>>.sticky .tag:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -26px;
    height: 6px;
    left: -1px;
    background-color: #fe9600;
    width: 100%;
    max-width: 0;
    transition: max-width .25s ease-in-out
}
>>>.sticky .tag:hover {
    color: #FE9600;
}
>>>.sticky .tag:hover:after {
    max-width: 100%
}
>>>.lous {
    float: right;
    margin-top: -30px;
    margin-right: 0;
    color: #ffffff;
}
>>>.fa-user-circle:hover {
    animation: wrench 2.5s ease infinite;
}
>>>.avatar-s:hover {
    animation: wrench 2.5s ease infinite;
}
>>>.sticky .lous {
    float: right;
    top: 30px;
    right: 100px;
    color: #666666;
}
@keyframes wrench {
    0% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }

    8% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg)
    }

    10% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg)
    }

    18%,20% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg)
    }

    28%,30% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg)
    }

    38%,40% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg)
    }

    48%,50% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg)
    }

    58%,60% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg)
    }

    68% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg)
    }

    100%,75% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
}
@keyframes sitetop {
    0% {
        opacity: 0;
        transform: translateX(30px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px)
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

>>>.site-a-content {
    margin-top: 250px;
    padding:150px 0;
    background-color: #eee;
    height: 100%;
}

>>>.main {
    max-width: 59rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    background-color: #fff;
    border-radius: .50rem;
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 20px -6px rgba(0,0,0,.5);
    transition: box-shadow .3s ease;
    overflow: hidden;
    line-height: 1.5;
}

>>>.link:hover {
    background: url(../image/line.png) repeat-x left bottom;
}
>>>time {
    font-size: 13px !important;
    text-transform: uppercase;
    color: #999;
}
>>>.main:hover {
    box-shadow: 0 5px 10px 5px rgba(110,110,110,.4);
}
>>>main {

    margin: 75px 0;
    padding: 2rem 4rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #eee;
}
>>>h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.25;
}

>>>.article p {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px !important;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
    color: #333;
    line-height: 24px;
}
>>>h3 {
    max-width: 860px;
    color: #7d7d7d;
    font-size: 17.55px;
    font-weight: 400;
    text-shadow: 0px 0px 1px rgba(0,0,0,.1);
    margin-bottom: 30px;
}
>>>.comments {
    border-top:1px dashed #ddd;
    padding-top: 30px;
}
>>>.noc {
    font-size: 13px;
    font-weight: 400;
    color: #909090;
}

>>>.no-login .baffle-wrap {
    box-sizing: content-box;
}
>>>.no-login .baffle {
    display: block;
    position: absolute;
    z-index: 102;
    width: 100%;
    top: 0;
    line-height: 64px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    color: #777;
    background-color: #e5e9ef;
    overflow: hidden;
}
>>>.no-login .log-link {
    padding: 4px 9px;
    margin: 0 3px;
    color: #fff;
    background-color: #fb7299!important;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
    vertical-align: baseline;
}
>>>.comment-send {
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #e5e9ef;
}
>>>.no-login .ipt-txt {
    background-color: #e5e9ef;
}
>>>.no-login .comment-submit{
    cursor: default;
    background-color: #e5e9ef!important;
    border-color: #e5e9ef!important;
    color: #b8c0cc!important;
}
>>>.avatar-s {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    border-radius: 50%;
    cursor: pointer;
}
>>>.textarea-container {
    position: relative;
    margin-left: 60px;
    margin-right: 80px;
}
>>>.ipt-txt {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
    outline: none;
    resize: none;
}
>>>.ipt-txt:hover{
    background-color: #fff;
    border-color: #00a1d6;
}
>>>.ipt-txt:focus{
    background-color: #fff;
    border-color: #00a1d6;
}
>>>.comment-submit {
    width: 70px;
    height: 64px;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #fb7299!important;
    border: 1px solid #fb7299!important;
    transition: .1s;
    user-select: none;
    outline: none;
}
>>>.no-login {
    color: #e5e9ef
}
>>>.no-login {

}
>>>.comment-body {
    list-style-type: none;
}
>>>.comment-view {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e9ef;
}
>>>.comment-child {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 60px;
}
>>>.comment-header {
    display: inline-block;
    width: 100%;
}
>>>.avatar {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    cursor: pointer;
}
>>>.comment-author {
    font-size: 13px;
    line-height: 45px;
    display: inline-block;
    float: left;
    margin: 0 20px;
    cursor: pointer;
    color: #fb7299!important;
}
>>>.comment-author-at {
    float: left;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.8;
    color: #00a1d6;
}
>>>.comment-reply {
    font-size: 13px;
    display: block;
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    text-transform: uppercase;
    color: #fff;
    background-color: #fb7299!important;
    line-height: 25px;
    padding: 0 15px;
    border-radius: 3px;
    outline: none;
    text-decoration:none;
    transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
}
>>>.comment-view  .comment-reply{
    opacity: 0;
}
>>>.comment-view:hover  .comment-reply{
    opacity: 1;
}
>>>.comment-delete {
    font-size: 13px;
    margin-right: 25px;
    float: right;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff0000;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 3px;
    outline: none;
    text-decoration:none;
    transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
}
>>>.comment-content  .comment-delete{
    opacity: 0;
}
>>>.comment-content:hover  .comment-delete{
    opacity: 1;
}
>>>.comment-content {
    margin-bottom: 10px;
    color: #313131;
}
>>>.comment-content p{
    display: inline;
    color: #313131;
    font-size: 14px;
    line-height: 1.8;
}
>>>.comment-meta {
    font-size: 12px;
}
>>>.prev {
    padding: 0 15px;
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    min-width: 15px;
    margin: 0 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}
>>>.prev:hover {
    background-color: #fb7299!important;
    color: #fff;
}
>>>.tcd:hover {
    background-color: #fb7299!important;
    color: #fff;
}
>>>.tcd {
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    width: 37px;
    min-width: 15px;
    margin: 0 2px;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}
>>>.current {
    background: #fb7299!important;
    color: #fff;
    border: 1px solid #fb7299!important;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    transition: all .2s;
    font-size: 14px;
    width: 37px;
    min-width: 15px;
    margin: 0 2px;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}
>>>.dian {
    cursor: default;
    border-color: #fff;
    color: #222;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    width: 37px;
    min-width: 15px;
    margin: 0 2px;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}
>>>.page-jump {
    float: right;
    color: #99a2aa;
    line-height: 36px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
>>>.page-input {
    margin: 0 5px;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    box-shadow: none;
    width: 37px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    text-align: center;
}
>>>.page-input:focus {
    border:1px solid #fb7299!important;
}
>>>.comment-urp {
    margin-top: 20px;
}
>>>.table {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
>>>.table table{
    background-color: #fafafa;
    width: 100%;
}
>>>.erc-table {
    background-color: rgba(250,250,250,50);
    color: rgba(0,0,0,.65);
    font-size: 12px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
}
>>>.erc-table>tr>th {
    width: 150px;
    padding: 15px 6px!important;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #dedede;
    transition: background .3s ease;
    display: table-cell;
    vertical-align: inherit;
    word-wrap: break-word;
}
>>>.erc-table>tr>th .ft{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}
>>>tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
>>>.erc-table-body {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
}
>>>.erc-table-body>tr {
    background-color: rgba(255,255,255,1);
    transition: all .3s,height 0s;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
>>>.erc-table-body>tr:hover {
    background-color: #fafafa;
}
>>>.erc-table-body>tr>td {
    overflow-wrap: break-word;
    border-bottom: 1px solid #dedede;
    transition: all .3s,border 0s;
    line-height: 32px;
    padding: 15px 6px!important;
}
>>>.pg {
    position: relative;
    top: 25px;
    left: 0;
    margin-bottom: 100px;
}
>>>.btn {
    display: inline-block;
    padding: 6px 8px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition:all 0.3s;
}
>>>.btn-info {
    color: #fff;
    background-color: #fb7299e0;
    border-color: #fb72ab;
}
>>>.btn-info:hover {
    color: #fff;
    background-color: #fb7299;
    border-color: #fb72ab;
}
>>>.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
>>>.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
>>>.header-user-menu {
    position: absolute;
    width: 110px;
    background-color:#fff;
    top: 70px;
    display: none;
    overflow: hidden;
    animation: header-user-menu .4s;
    box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    border-radius: 5px;
    text-align: center;
}
>>>.header-user-menu:before {
    content: "";
    position: fixed;
    top: 50px;
    right: 105px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
}
>>>.lous:hover .header-user-menu {
    display: block;
}
>>>.header-user-name {
    font-size: 12px;
    background: #fff;
    color: #333;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}
>>>.header-user-name-u {
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
>>>.header-user-menu .user-menu-option {
    padding: 5px 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: 130px;
}
>>>.header-user-menu a {
    display: block;
    padding: 6px 10px;
    margin: 2px 0;
    width: 110px;
    color: #333;
    font-size: 13px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
}
>>>.user-menu-option a:hover {
    background-color: #f1f1f1;
}